.modal {
  z-index: 1001;
  position: fixed;
  width: 550px;
  height: 650px;
  background: var(--color-bg-card-white);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: var(--border-radius-lg);
}

.modal-close-button {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1002;
}

.modal-content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
