select,
::picker(select) {
  appearance: base-select;
}

select::picker-icon {
  transition: 0.4s rotate;
  color: var(--color-text-900);
}

select:open::picker-icon {
  rotate: 180deg;
}

option {
  transition: 0.4s;
}

option:checked {
  color: var(--color-text-white);
  background: var(--color-bg-select-300);
  font-weight: 600;
}

option::checkmark {
  content: '';
  width: 20px;
  height: 20px;
  order: 1;
}

option:first-of-type {
  border-radius: 8px 8px 0 0;
}

option:last-of-type {
  border-radius: 0 0 8px 8px;
}

::picker(select) {
  border-radius: 8px;
}

option:not(option:last-of-type) {
  border-bottom: none;
}
.form-select {
  cursor: pointer;
  width: 100%;
  padding: var(--space-md);
  text-transform: uppercase;
  border-radius: var(--border-radius-md);
  background: white;
  color: var(--color-text-900);
  transition: all 0.2s ease-in-out;
  border: 1px solid var(--color-border);
}

.form-select:focus,
.form-select:hover {
  outline: none;
  background: var(--color-bg-card-900);
  color: var(--color-text-800);
}

.form-select-option {
  gap: 20px;
  border: 1px solid var(--color-border);
  padding: var(--space-sm);
}

.form-select-option:hover {
  background: var(--color-bg-button-100);
  color: var(--color-text-900);
}

.form-block {
  width: 90%;
  padding: var(--space-sm);
  margin: 0 auto;
}

.form-block-title {
  text-transform: uppercase;
  font-size: var(--text-lg);
  text-align: center;
}

.form-block-content {
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
}

.form-input-block {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  transition: all 0.2s ease;
}

.form-input-block > label {
  text-transform: uppercase;
  color: var(--color-text-900);
  font-size: var(--text-sm);
  letter-spacing: var(--space-sm);
}

.form-input {
  border: 1px solid var(--color-border-input);
  padding: var(--space-md);
  border-radius: var(--border-radius-md);
  font-size: var(--text-md);
}

.form-input:focus {
  outline: none;
  border-color: var(--color-border-input-focus);
  box-shadow:
    var(--color-shadow) 0px 4px 8px -2px,
    var(--color-shadow) 0px 0px 0px 1px;
}

.form-input::placeholder {
  text-transform: uppercase;
  color: var(--color-placeholder);
}

.form-input:disabled {
  cursor: not-allowed;
}

.input-error-message {
  color: var(--color-text-white);
  font-size: var(--text-xs);
  margin-top: var(--space-xs);
  background: var(--color-incorrect);
  border-radius: var(--border-radius-sm);
  padding: var(--space-xs) var(--space-md);
}

.form-image-preview {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: var(--border-radius-sm);
}

.form-image-preview > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius-sm);
}

.form-submit-btn {
  width: 100%;
  background: var(--color-bg-button-500);
  color: var(--color-text-800);
  text-transform: uppercase;
  padding: var(--space-md) var(--space-lg);
  border-radius: var(--border-radius-md);
  border: 1px solid var(--color-border-800);
  font-weight: 700;
  transition: all 0.2s ease;
}

.form-submit-btn:hover {
  background: var(--color-bg-button-800);
  color: var(--color-border);
  border: 1px solid var(--color-border);
}

.form-submit-btn:disabled {
  background: var(--color-bg-input);
  color: var(--color-placeholder);
  border-color: var(--color-bg-input);
  cursor: not-allowed;
  box-shadow: none;
}

.loader-button {
  width: 45px;
  height: 45px;
  margin: 0 auto;
  border-radius: var(--circular);
}

.form-block-actions {
  display: flex;
  flex-direction: row;
  align-self: center;
  gap: var(--space-xxl);
}
