.form-input-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 56px;
}

.form-input-content > input {
  width: 100%;
  height: 100%;
  padding: 0 var(--space-md);
  border-radius: var(--border-radius-md) 0 0 var(--border-radius-md);
}

.currency-block {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 var(--space-md);
  border: 1px solid var(--color-border);
  border-radius: 0 var(--border-radius-md) var(--border-radius-md) 0;
  text-transform: uppercase;
  background: var(--color-bg-card-900);
  color: var(--color-text-800);
  font-size: var(--text-md);
  height: 100%;
  letter-spacing: var(--space-sm);
}

.transaction-button {
  display: block;
  max-width: 200px;
  width: 200px;
  margin: 0 auto;
  text-align: center;
  font-size: var(--text-md);
  padding: var(--space-md) 0;
}
