.transaction {
  width: 240px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-lg);
  align-items: center;
}

.transaction-amount {
  background: var(--color-bg-card-900);
  padding: var(--space-sm) var(--space-md);
  border-radius: var(--border-radius-md);
  letter-spacing: var(--space-xs);
  font-weight: 600;
}

.transaction-income {
  color: var(--color-border-800);
}

.transaction-expense {
  color: var(--color-incorrect);
}
