.transaction {
  width: 220px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-lg);
  align-items: center;
  padding: var(--space-sm);
}

.transaction-amount {
  background: var(--color-bg-card-900);
  padding: var(--space-sm) var(--space-md);
  border-radius: var(--border-radius-md);
  letter-spacing: var(--space-xs);
  font-weight: 600;
}

.transaction-income {
  color: var(--color-border-800);
}

.transaction-expense {
  color: var(--color-incorrect);
}

.transaction-actions {
  display: flex;
  flex-direction: row;
  gap: 30px;
  height: 50px;
  padding: var(--space-md);
}

.transaction-action {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  font-size: var(--text-xl);
  border: none;
  background: var(--color-bg-button-500);
  border-radius: var(--circular);
}

.transaction-edit {
  color: var(--color-text-800);
}

.transaction-delete {
  color: var(--color-incorrect);
}
